{% extends 'base.html' %}
{% block content %}

<h1>Hello {{name}}V</h1>
<form action="add" method="post">
    {% csrf_token %}
    Enter 1st number = <input type="text" name="num1"><br>
    Enter 2nd number = <input type="text" name="num2"><br>
    <input type="submit">

{% endblock %}
